.title {
  font-size: rem(100px);
  font-weight: 600;
  text-align: center;
  animation: fadeInFromLeft 1s ease-in-out;
}

.subtitle {
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: clamp(1rem, 2rem, 3rem);
  animation: fadeInFromRight 1s ease-in-out;
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%)
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0%;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

