.card {
  background-color: var(--mantine-color-body);
  min-width: rem(300px);
  max-width: rem(500px);
}

.tags {
  overflow: scroll;
  height: 40px;
  width: 100%;
}

.tag {
  min-width: max-content;
}

.label {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 700;
  line-height: 1;
}

.lead {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 700;
  font-size: rem(22px);
  line-height: 1;
}
