.container {
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-md);
  background: var(--mantine-primary-color-filled);
}

.price {
  font-size: calc(var(--mantine-font-size-lg) * 3);
  font-weight: var(--mantine-h1-font-weight);
}

.monthly {
  font-size: var(--mantine-font-size-md);
}
