.title {
  font-size: rem(32px);
  font-weight: 600;
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
}

.root {
  @media (min-width: $mantine-breakpoint-xs) {
    margin-left: 12.5%;
    margin-right: 12.5%;
  }
}

.item {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-9));
  border: 1px solid transparent;
  transition: transform 150ms ease;

  &[data-active] {
    transform: scale(1.03);
    background-color: var(--mantine-color-body);
    border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
    box-shadow: var(--mantine-shadow-md);
    border-radius: var(--mantine-radius-md);
  }
}

.label {
  font-weight: 600;
}

.content {
  font-size: 14px;
}